article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
html {
  font-size: 100%;
  /* 1 */
  overflow-y: scroll;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 3 */
}
body {
  margin: 0;
}
body,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
a:focus {
  outline: thin dotted;
}
p:focus {
  outline: 0;
}
a:hover,
a:active {
  outline: 0;
}
h1 {
  font-size: 2em;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul,
ol {
  margin-left: 0;
  padding: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}
button,
input {
  line-height: normal;
  /* 1 */
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: #fff;
  line-height: 1;
}
body a {
  text-decoration: none;
}
body,
input,
select,
textarea {
  color: #333;
  font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
/* Universal Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
h2 {
  display: none;
  margin: 2em 0 1em;
}
.no_wrap {
  white-space: nowrap;
}
#container {
  margin: 1em auto;
  max-width: 960px;
  width: 98%;
}
form label {
  display: block;
  margin-bottom: 5px;
}
form input,
form select {
  display: block;
  margin-bottom: 1.5em;
  max-width: 450px;
  width: 100%;
}
#iframe_holder {
  border: 0;
  height: 240px;
  width: 100%;
}
#iframe_holder.full {
  border: 1px solid #ccc;
}
